adf/pipeline/pl_Test_ETL_1_File_Dev_DB.json
{
	"name": "pl_Test_ETL_1_File_Dev_DB",
	"properties": {
		"activities": [
			{
				"name": "Copy Raw Users to Raw Table",
				"description": "Copy raw CSV users to the raw table: [raw].[Users]",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Pipeline Monitoring Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [raw].[Users]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Email",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Username",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Username",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DateOfBirth",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DateOfBirth",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "RegistrationDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RegistrationDate",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Gender",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Gender",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountCreatedVia",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountCreatedVia",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ReferralSource",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReferralSource",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SubscriptionTier",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubscriptionTier",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingCycle",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingCycle",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PaymentMethod",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PaymentMethod",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AutoRenew",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AutoRenew",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "MarketingConsent",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MarketingConsent",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "PreferredLanguage",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PreferredLanguage",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ContentLanguage",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ContentLanguage",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PlanAddons",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PlanAddons",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "one_file_users",
						"type": "DatasetReference",
						"parameters": {
							"pfileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "raw_users_table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Execute Staging Stored Procedure",
				"description": "Execute transformation staging stored procedure [stage].[usp_ProcessUsers]",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Raw Users to Raw Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stage].[usp_ProcessUsers]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_db_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Merging Stored Procedure",
				"description": "Execute merging stored procedure [prod].[usp_MergeUsers]",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Staging Stored Procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[prod].[usp_MergeUsers]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_db_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup Rvalue and Cvalue from the CSV file",
				"description": "Get Rvalue and Cvalue from the CSV file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "one_file_users",
						"type": "DatasetReference",
						"parameters": {
							"pfileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Pipeline Monitoring Start",
				"description": "Execute Starting Pipeline Monitoring Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup Rvalue and Cvalue from the CSV file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[monitor].[usp_PipelineRunStart]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"EnvironmentName": {
							"value": {
								"value": "@pipeline().parameters.EnvironmentName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceFileName": {
							"value": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"RValue": {
							"value": {
								"value": "@activity('Lookup Rvalue and Cvalue from the CSV file').output.firstRow.RValue",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"CValue": {
							"value": {
								"value": "@activity('Lookup Rvalue and Cvalue from the CSV file').output.firstRow.CValue",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"SCD2Method": {
							"value": {
								"value": "@pipeline().parameters.SCD2Method",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_db_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Success - Pipeline Monitoring Finish",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Merging Stored Procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[monitor].[usp_PipelineRunFinish]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Succeeded",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_db_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure - Pipeline Monitoring Finish",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Merging Stored Procedure",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[monitor].[usp_PipelineRunFinish]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('Execute Merging Stored Procedure').output.error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Execute Merging Stored Procedure').output.error.errorMessage",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_db_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure - Pipeline Monitoring Finish_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Raw Users to Raw Table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[monitor].[usp_PipelineRunFinish]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('Copy Raw Users to Raw Table').output.error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Copy Raw Users to Raw Table').output.error.errorMessage",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_db_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure - Pipeline Monitoring Finish_copy2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Staging Stored Procedure",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[monitor].[usp_PipelineRunFinish]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('Execute Staging Stored Procedure').output.error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Execute Staging Stored Procedure').output.error.errorMessage",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_db_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "users_day000.csv"
			},
			"SCD2Method": {
				"type": "string",
				"defaultValue": "FullSCD2"
			},
			"EnvironmentName": {
				"type": "string",
				"defaultValue": "Dev"
			}
		},
		"folder": {
			"name": "test_pipelines"
		},
		"annotations": []
	}
}